$color_background: #121213;

.container {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    background-color: $color_background;
    padding: 0rem 1rem;

    .tries {
        margin-left: auto;
    }
}
