.card {
    padding: 16px;
    border: 1px solid #d1d1d6;
    border-radius: 12px;
    max-width: 450px;

    &__title {
        font-size: 20px;
        font-weight: 500;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        margin-top: 16px;
        border-radius: 8px;
    }

    &__description {
        font-size: 16px;
        color: #3c3c43;
        opacity: 0.6;
    }
}
