$color_key_background: #818384;
$color_white: #ffffff;

.gameKeyboardContainer {
    margin-top: 2rem;
    user-select: none;
    height: 200px;

    .keyboardContainer {
        margin: 0 8px;
        user-select: none;
    }

    .keyboardRow {
        display: flex;
        width: 100%;
        margin: 0 auto 8px;
        touch-action: manipulation;
    }

    .keyButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 6px 0 0;
        height: 58px;
        border: 0;
        padding: 0px 20px;
        border-radius: 4px;
        background-color: $color_key_background;
        color: $color_white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
}
