$color_white: #ffffff;

.gameKeyboardContainer {
    margin-top: 2rem;
    user-select: none;
    height: 200px;

    .keyboardContainer {
        margin: 0 8px;
        user-select: none;
    }

    .keyboardRow {
        display: flex;
        width: 100%;
        margin: 0 auto 8px;
        touch-action: manipulation;
    }
}
