$color_border: #565758;
$color_white: #ffffff;
$color_background: #121213;

.tile {
    display: grid;
    place-items: center;
    width: 62px;
    height: 62px;
    font-size: 16px;
    border: 2px solid $color_border;
    color: $color_white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    background-color: $color_background;
}
