$color_correct: #538d4e;
$color_present: #b59f3b;
$color_absent: #3a3a3c;
$color_border: #565758;
$color_white: #ffffff;

.tileContainer {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
}

.tileRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.correct {
    background-color: $color_correct;
}

.present {
    background-color: $color_present;
}
